.cabecera{
	font-family: 'Arial';
	font-size: 0.8em;
	background-color: #760EAC;
	color: white;
	border-bottom: solid 2px #6495ED;
	position: relative;
	height: 80px;
}

article{
	background-color: #9EA4A5
}

audio{
	margin: 20px;
}
video{
	margin: 20px;
}

.menu{
	position: absolute;
	right: 10px;
	top: 25px;
	

}
.menu ul li{
	display: inline-block;
	text-align: right;
	padding: 5px 10px 10px 10px;
	color: white;
}

.menu ul li:hover{
	background-color: #18D691;
}



.control{
	padding: 10px;
	font-family: 'Dosis', #FFFFFF;
}

fieldset{
	position: relative;
	width: 50%;
	margin: 0 auto;
	border: 0;
}

label{
	display: #19BF77;
	letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;

}

.button ul li{
 border: 0;
 display: inline-block;
 background-color: #2CE06B;
font-family: ´Enviar Solicitud´,sans-serif;
color:white;
padding: 0 28px;
height: 55px;
line-height: 53px;
letter-spacing: 1px;
font-size: 14px;

}

input[type=text]:focus{
outline: 0 none;
border: solid 1px #08A364 ;

}
input[type=submit]{
 border: 10;
 background-color: #08A364;
font-family: ´enviar´,sans-serif;
color:white;
padding: 0 28px;
height: 55px;
line-height: 53px;
letter-spacing: 1px;

}
input[type=submit]:hover{
	background-color: #08A364;

}
input[type=text]{
    height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 11px;
    line-height: 1.6;
    display: block;
}

h2{
	font-size: 58px;
	font-weight: 700;
	margin-top: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 10px;


}

p{
	font-size: 18px;
    margin: 25px 0;
    font-weight: 400;
    color: #6d747c;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-left: 7.5%;
    margin-right: 7.5%;

}

hr{

 	width: 45px;
 	margin: 20px;
 	border-top: 1px solid #00de8b;
 	margin: 30px auto;

 }
 h3{
 	color: green;

 }
